@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
/* here I start nav bar styles */
ul {
  margin: 30px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  font-size: large;
}
.dev_btn {
  font-weight: 700;
  font-size: larger;
}
.resume_btn {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
}

nav li a {
  text-decoration: none;
  font-size: bold;
  margin: 20px 30px;
  color: black;
}
/* here I end nav bar styles */
.top_banner {
  background-image: url("/assets/Hero-bg.png");
  /* background-repeat: no-repeat;
  width: 1500px;
  height: 100vh;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  margin: auto;
*/
  position: absolute;
  width: 1500px;
  height: 652px;
  left: 190px;
  right: 0;
  top: 131px;
  bottom: 4462px;
}

.top_info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  margin: 30px 40px;
  padding: 20px 30px;
  align-items: center;
}
.top_info p {
  font-size: 18px;
  text-align: center;
}
.contact_btn {
  text-decoration: none;
  padding: 21px 24px 21px 24px;
  margin: 32px 0;
  border-radius: 8px;
  background: rgb(13, 19, 33);
}
.headning_main {
  font-size: 60px;
  text-align: center;
}
a {
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
}
